sources:
- type: beacon_360
  org_id: my_utility
  # Must be one of https://gist.github.com/heyalexej/8bf688fd67d7199be4a1682b3eec7568
  timezone: America/Los_Angeles
  use_raw_data_cache: False
  sinks:
  - my_snowflake_instance
- type: aclara
  org_id: my_aclara_utility
  timezone: America/Los_Angeles
  sftp_host: example.com
  sftp_remote_data_directory: ./data
  sftp_local_download_directory: ./output
  sftp_local_known_hosts_file: ./known-hosts
  sinks:
  - cadc_snowflake

sinks:
- type: snowflake
  id: my_snowflake_instance

task_output:
  type: s3
  bucket: my-s3-bucket-name-from-terraform
  # Only used for local development, likely the name of the profile you use for terraform
  dev_profile: my-local-aws-profile

notifications:
  dag_failure:
    sns_arn: my-arn-from-terraform-output

# Optionally specify DAGs for backfills between start_date and end_date
backfills:
- org_id: my_utility
  start_date: 2025-02-01
  end_date: 2025-04-01
  interval_days: 2
  schedule: "15 * * * *"