sources:
 my_utility:
    beacon_360_user: my_user
    beacon_360_password: my_password
 my_aclara_utility:
    sftp_user: my_user
    sftp_password: my_password

sinks:
  my_snowflake_instance:
    account: my_account
    user: my_user
    password: my_password
    role: my_role
    warehouse: my_warehouse
    database: my_database
    schema: my_schema