version: "3.9"

services:

  scheduler:
    image: airflow:${AIRFLOW_IMAGE_TAG}
    container_name: airflow-scheduler
    command: scheduler
    # command: >
    #   bash -c "
    #     if [ -f /home/airflow/.ssh/id_rsa ]; then chmod 600 /home/airflow/.ssh/id_rsa; fi &&
    #     airflow scheduler
    #   "
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - airflow
    environment:
      AIRFLOW__WEBSERVER__AUTHENTICATE: True
      AIRFLOW__WEBSERVER__AUTH_BACKEND: airflow.www.security.auth_backend.password_auth
      AIRFLOW__WEBSERVER__WARN_DEPLOYMENT_EXPOSURE: False
      AIRFLOW__CORE__LOAD_EXAMPLES: False
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      PYTHONPATH: /opt/airflow
    volumes:
      - logs:/opt/airflow/logs
      # - /home/ec2-user/.ssh/id_rsa:/home/airflow/.ssh/id_rsa:ro

  webserver:
    image: airflow:${AIRFLOW_IMAGE_TAG}
    container_name: airflow-webserver
    # command: >
    #   bash -c "
    #     if [ -f /home/airflow/.ssh/id_rsa ]; then chmod 600 /home/airflow/.ssh/id_rsa; fi &&
    #     airflow webserver
    #   "
    command: webserver
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 8080:8080
    networks:
      - airflow
    environment:
      AIRFLOW__WEBSERVER__AUTHENTICATE: True
      AIRFLOW__WEBSERVER__AUTH_BACKEND: airflow.www.security.auth_backend.password_auth
      AIRFLOW__WEBSERVER__WARN_DEPLOYMENT_EXPOSURE: False
      AIRFLOW__CORE__LOAD_EXAMPLES: False
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      PYTHONPATH: /opt/airflow
    volumes:
      - logs:/opt/airflow/logs
      # - /home/ec2-user/.ssh/id_rsa:/home/airflow/.ssh/id_rsa:ro

networks:
  airflow:

volumes:
  logs:
