name: continuous_integration

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.9'
      
      - name: Install Dependencies
        run: 
          pip install -r requirements.txt

      - name: test_script
        run: python -m unittest